.scrollbar::-webkit-scrollbar{
   width: 10px;
}

.scrollbar::-webkit-scrollbar-track{
   @apply bg-slate-100
}

.scrollbar::-webkit-scrollbar-thumb{
   @apply bg-slate-300 rounded-full
}

.text-nomal {
   font-size: 18px;
   line-height: 24px;
}

.text-mini {
   font-size: 12px;
   line-height: 18px;
}
.text-mini-1 {
   font-size: 15px;
}

.scrollbar-newsfeed::-webkit-scrollbar{
   width: 5px;
   display: none;
}

.scrollbar-newsfeed:hover::-webkit-scrollbar {
   display:inherit;
}

.scrollbar-newsfeed::-webkit-scrollbar-track{
   @apply bg-slate-200
}

.scrollbar-newsfeed::-webkit-scrollbar-thumb{
   @apply bg-slate-400 rounded-full
}

.scroll-container {
   overflow-y: scroll; /* Cho phép cuộn dọc */
 }
 
 /* Ẩn thanh cuộn nhưng vẫn cho phép cuộn */
 .scroll-container::-webkit-scrollbar {
   display: none; /* Đối với trình duyệt WebKit (Chrome, Safari) */
 }